// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


label{
	font-size: 110%;
}

/* always present */
.fade-transition {
  transition: all 4s ease;
  opacity: 1;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.fade-enter, .fade-leave {
  opacity: 0;
}

.navbar-default {
  background-color: rgb(49, 48, 66); 
}

.navbar-default .navbar-brand {
  color: rgb(242, 131, 97); 
}
.navbar-default .navbar-nav>li>a {
  color: rgb(159, 159, 159); 
}
.panel-default>.panel-heading {
  background-color: rgb(49, 48, 66); 
}

body {
  background-color: #DDDDDD
}
.panel {
  background-color: #EEEEEE
}